.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

blockquote {
    margin-top: 30px;
    margin-bottom: 30px;
    border-left: .25em solid #dfe2e5;
    color: #6a737d;
    padding: 0 1em;
}
